<div class="homeContainer">
  <div class="homeIntro">
    <h2>Lans</h2>
    <p>Accesorios</p>
  </div>
</div>
<div class="mainContainer">
  <section class="cardSection">
    <h3>Nuestros Productos</h3>
    <p>Cuero de calidad para un estilo elegante y duradero.</p>
    <div class="cardContainer">
      <div class="cardItem">
        <img
          src="./img/products/card1.webp"
          alt="Cinturón de Cuero Marrón Claro"
        />
        <div class="cardInfo">
          <h4>Luminex Belt</h4>
          <p>Elegancia atemporal en cuero premium.</p>
        </div>
      </div>
      <div class="cardItem">
        <img src="./img/products/card2.webp" alt="Llaveros de Cuero" />
        <div class="cardInfo">
          <h4>Leathery</h4>
          <p>Un toque de lujo para tu día</p>
        </div>
      </div>
      <div class="cardItem">
        <img
          src="./img/products/card3.webp"
          alt="Cinturón de Cuero Marrón Oscuro"
        />
        <div class="cardInfo">
          <h4>Seraphine Strap</h4>
          <p>Diseño único y durabilidad en cada detalle.</p>
        </div>
      </div>
    </div>
    <a href="/products">Ver Más</a>
  </section>
</div>