<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <title>{{title}}</title>
    <meta
      name="description"
      content="Bienvenido a Lans, tu destino definitivo para la excelencia en artículos de cuero! Descubre una colección exclusiva de cinturones, bolsos, llaveros y más, meticulosamente creados con la más alta calidad de cuero."
    />
    <meta name="keywords" content="cuero genuino, cinturones de cuero, bolsos de piel, accesorios de cuero, artesanía en cuero, llaveros de piel, productos de cuero de alta calidad, tienda de artículos de cuero, moda en cuero, complementos de cuero">
    <link rel="stylesheet" href="/css/style.css" />
    <script defer src="/js/main.js"></script>
    <meta name="google-site-verification" content="-IHJUl7CJz1X9qnxN_KxbCSn5AFKqNRD1_v25CsNeso" />
  </head>
  <body {{#if isHomePage}}id="home-page"{{/if}}></body>
      <header id="header" {{#unless isHomePage}}class="scrollNav"{{/unless}}>
        <i id="btn-menu" class="fas fa-bars btnMenu"></i>
        <a href="/"><img src="/img/lansLogoClaro.png" alt="" /></a>
        <nav id="nav">
          <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/products">Productos</a></li>
            <li><a href="/profile">Perfil</a></li>
          </ul>
        </nav>
        <a class="carrito" href="/carts/{{user.cart}}">
          <i class="fas fa-shopping-cart" style="color: #ebe7d9;"></i>
        </a>
      </header>
      {{{body}}}
  </body>
  <script
    src="https://kit.fontawesome.com/fc72539189.js"
    crossorigin="anonymous"
  ></script>
</html>